Environment=PROD
DJANGO_SECRET_KEY=replace-with-a-long-random-private-value
DJANGO_ALLOWED_HOSTS=api.saanapp.ir,tapi.saanapp.ir
SERVICE_NAME=core_service
DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=core_db
DATABASE_USERNAME=core_user
DATABASE_PASSWORD=''
DATABASE_HOST=''
DATABASE_PORT=''
CORS_URLS=''
REDIS_ADDRESS=''
REDIS_PASSWORD=''
STORAGE_ADDRESS=''
STORAGE_USER=''
STORAGE_PASSWORD=''
STORAGE_PORT=9000
STORAGE_BUCKET=''
STORAGE_PUBLIC_ADDRESS=''

GENERAL_ARVAN_STORAGE_USERNAME=''
GENERAL_ARVAN_STORAGE_PASSWORD=''
GENERAL_ARVAN_STORAGE_ADDRESS=''
GENERAL_ARVAN_STORAGE_PUBLIC_ADDRESS=''
GENERAL_ARVAN_STORAGE_BUCKET_NAME=''

DOCS_ARVAN_STORAGE_USERNAME=''
DOCS_ARVAN_STORAGE_PASSWORD=''
DOCS_ARVAN_STORAGE_ADDRESS=''
DOCS_ARVAN_STORAGE_PUBLIC_ADDRESS=''
DOCS_ARVAN_STORAGE_BUCKET_NAME=''

# Configure these only in the deployment secret store; rotate values previously committed.
FARAPAYAMAK_USERNAME=
FARAPAYAMAK_PASSWORD=
FARAPAYAMAK_FROM_NUMBER=
FARAPAYAMAK_LINKABLE_FROM_NUMBER=
FARAPAYAMAK_LOCAL_WHITELIST=
WALLET_SIGNATURE_SECRET=
WALLET_RSA_N=
WALLET_RSA_E=
WALLET_RSA_D=
WALLET_RSA_P=
WALLET_RSA_Q=
