* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'IRANYekanfa';
}

@font-face {
	font-family: 'IRANYekan';
	src: url('../fonts/IRANYekanRegular.ttf') format('truetype');
}
@font-face {
	font-family: 'IRANYekanfa';
	src: url('../fonts/IRANYekanRegularFaNum.ttf') format('truetype');
}

body {
	direction: rtl;
	text-align: right;
	overflow-y: hidden;
	/* overflow-x: hidden; */

}

td {
	vertical-align: middle !important;
}
.table th,
.table td {
	vertical-align: middle !important;
}
